.profile img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 150px;
    border: 7px solid #ffffff;
    margin-top: -40px;
}
.login {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.status {
    text-align: center;
    font-style: italic;
}
.status i {
    padding-left: 10px;
    opacity: 0.8;
    cursor: pointer;
}