.profile img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 7px solid #ffffff;
    margin-top: -40px;
    background: #fff;
}
.profile > .profilePhoto {
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 7px solid #ffffff;
    margin-top: -40px;
    background: #fff;
    display: block !important;
    box-sizing: content-box;
}
.login {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}
.btns {
    text-align: center;
    margin: -15px 0 30px;
}
.profile b {
    font-weight: 600;
}
.about {
    margin: 7px 0;
}
.about i {
    opacity: 0.5;
    color: #1a73e8;
    padding-right: 7px;
}
.profile ul {
    margin: 0;
}
.profile li::marker {
    color: lightsteelblue;
}
.profile a {
    text-decoration: none;
    opacity: 0.9;
    color: #545454;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}