.users {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 1%;
}
.user {
    width: 33%;
    text-align: center;
    margin-bottom: 60px;
}
.user img {
    text-align: center;
    width: 100px;
    border-radius: 50%;
}
.sbAvatar {
    margin-bottom: 5px;
}
.userName {
    margin: 10px 0 5px;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    word-break: break-all;
    margin-top: 5px;
    display: block;
    color: #545454;
    text-decoration: none;
    white-space: nowrap;
}
.btn {
    font-family: inherit;
    background-color: #377dff;
    height: 30px;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    width: 120px;
    border: none;
    outline: none;
    font-size: 14px;
    margin-top: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.btn:disabled {
    opacity: 0.4;
}
.btnUnfollow {
    background-color: #ff3b30;
}
.btn:hover {
    background-color: #1a73e8;
}
.btnMessage {
    text-decoration: none;
    display: inline-block;
    line-height: 30px;
    background-color: #37d65b;
}
.btnMessage:hover {
    background-color: #37d65b;
    opacity: 0.75;
}
.btnUnfollow:hover {
    background-color: #d4180e;
}
.pagination {
    padding: 0;
    text-align: center;
    margin-top: 0;
}
.navItem {
    display: inline-block;
    margin: 5px;
}
.navItem a {
    border-radius: 5px;
    background-color:#e8f0fe;
    text-decoration: none;
    padding: 10px 10px;
    color: #545454;
    display: block;
    line-height: 22px;
}
.navItem a:hover {
    opacity: 0.7;
}
.navActive a {
    background-color: #377dff;
}
.navActive a {
    color: #ffffff;
}

.search {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
}
.search input {
    background: #f1f3f4;
    width: 80%;
    display: inline-block;
    height: 32px;
    padding: 0px 16px;
    color: #666;
    font-family: inherit;
    border: 1px solid #eceff5;
    border-radius: 7px 0 0 7px;
    font-size: 15px;
    outline: none;
    transition: ease-in 0.05s;
}
.search input:focus {
    box-shadow: 0 0 0 3px #f6f6f6;
}
.search button {
    display: inline-block;
    font-family: inherit;
    background-color: #377dff;
    height: 32px;
    border-radius: 0 7px 7px 0;
    color: #fff;
    text-align: center;
    font-weight: 600;
    width: 20%;
    border: none;
    outline: none;
    font-size: 14px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.search button:hover {
    background-color: #1a73e8;
}

@media (max-width: 850px) {
    .users {
        justify-content: center;
    }
    .user {
        width: 185px;
        margin-bottom: 50px;
    }
    .search {
        padding-left: 0;
        padding-right: 0;
    }
    .search button {
        width: 30%;
    }
    .navItem {
        min-width: 40px;
    }
}