.disable {
    filter: blur(3px);
    pointer-events: none;
}

.testdata {
  padding: 7px;
  border: 1px solid #ffeeba;
  border-radius: 7px;
  color: #856404;
  background-color: #fff3cd;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.testdata p {
  margin: 5px 0;
}
.testdata p:nth-child(1) {
  margin-bottom: 10px;
}

@media (max-width: 850px) {
  .testdata {
    margin-bottom: 30px;
  }
}