body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #545454;
  background: #f5f6fa;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
}
* {
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

aside {
  width: 200px;
  margin-right: 20px;
}

main {
  width: 600px;
  background: #fff;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(21,27,38,.03);
}

.sb-avatar {
  opacity: 0.85;
}