.form {
    width: 70%;
    margin: 50px auto 80px;
}
.title {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 25px;
}
.input {
    background: #f1f3f4;
    width: 100%;
    display: block;
    height: 40px;
    padding: 0px 16px;
    color: #666;
    font-family: inherit;
    border: 1px solid #eceff5;
    border-radius: 7px;
    font-size: 15px;
    margin-bottom: 15px;
    outline: none;
    transition: ease-in 0.05s;
}
.input:focus {
    box-shadow: 0 0 0 3px #f6f6f6;
}
.btn {
    font-family: inherit;
    background-color: #377dff;
    height: 45px;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
.btn:hover {
    background-color: #1a73e8;
}
.btn:disabled {
    background-color: #6c757d;
    opacity: 0.7;
}

.errorMessage {
    color: tomato;
    margin: 0 0 5px 15px;
    text-align: center;
}

.captcha {
    display: block;
    margin: -10px auto 5px;
}

@media (max-width: 850px) {
    .form {
        width: 90%;
        margin: 20px auto 40px;
    }
}